.advantages {
  position: relative;
}

.advantages__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-top: 20px;
}

.advantages__description {
  max-width: 180px;
}

.advantages__list {
  list-style-type: none;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.advantages__item--natural::before {
  content: "";
  background-image: url("/source/img/index/advantages-natural-icon.png");
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  top: 95px;
  left: 10px;
}

.advantages__item--easy::before {
  content: "";
  background-image: url("/source/img/index/advantages-easy-icon.png");
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  top: 180px;
  left: 10px;
}

.advantages__item--new-meal::before {
  content: "";
  background-image: url("/source/img/index/advantages-new-meal-icon.png");
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  top: 270px;
  left: 10px;
}

.advantages__item--results::before {
  content: "";
  background-image: url("/source/img/index/advantages-results-icon.png");
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  top: 360px;
  left: 10px;
}

@media (min-width: $tablet-width) {
  .advantages__title {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }

  .advantages__list {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: grid;
    grid-template-columns: 246px 246px;
    gap: 40px 153px;
    border-bottom: 1px solid $special-grey;
  }

  .advantages__item {
    height: 230px;
  }

  .advantages__item--natural::before {
    content: "";
    background-image: url("/source/img/index/advantages-natural-icon-tablet.png");
    width: 80px;
    height: 80px;
    display: block;
    position: static;
  }

  .advantages__item--natural::after {
    content: "";
    background-image: url("/source/img/index/number1-icon.png");
    width: 112px;
    height: 280px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    top: 99px;
    left: 110px;
    z-index: -1;
  }

  .advantages__item--easy::before {
    content: "";
    background-image: url("/source/img/index/advantages-easy-icon-tablet.png");
    width: 80px;
    height: 80px;
    display: block;
    position: static;
  }

  .advantages__item--easy::after {
    content: "";
    background-image: url("/source/img/index/number2-icon.png");
    width: 134px;
    height: 280px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    top: 99px;
    left: 510px;
    z-index: -1;
  }

  .advantages__item--new-meal::before {
    content: "";
    background-image: url("/source/img/index/advantages-new-meal-icon-tablet.png");
    width: 80px;
    height: 80px;
    display: block;
    position: static;
  }

  .advantages__item--new-meal::after {
    content: "";
    background-image: url("/source/img/index/number3-icon.png");
    width: 134px;
    height: 280px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    top: 350px;
    left: 110px;
    z-index: -1;
  }

  .advantages__item--results::before {
    content: "";
    background-image: url("/source/img/index/advantages-results-icon-tablet.png");
    width: 80px;
    height: 80px;
    display: block;
    position: static;
  }

  .advantages__item--results::after {
    content: "";
    background-image: url("/source/img/index/number4-icon.png");
    width: 136px;
    height: 280px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    top: 350px;
    left: 510px;
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    display: flex;
    flex-direction: row;
    border-bottom: none;
  }

  .advantages__item--natural::after {
    content: "";
    background-image: url("/source/img/index/number1-icon.png");
    width: 112px;
    height: 280px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    top: 99px;
    left: 110px;
    z-index: -1;
  }

  .advantages__item--easy::after {
    content: "";
    background-image: url("/source/img/index/number2-icon.png");
    width: 134px;
    height: 280px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    top: 99px;
    left: 510px;
    z-index: -1;
  }

  .advantages__item--new-meal::after {
    content: "";
    background-image: url("/source/img/index/number3-icon.png");
    width: 134px;
    height: 280px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    top: 100px;
    left: 800px;
    z-index: -1;
  }

  .advantages__item--results::after {
    content: "";
    background-image: url("/source/img/index/number4-icon.png");
    width: 136px;
    height: 280px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    top: 100px;
    left: 1100px;
    z-index: -1;
  }
}
