
.banner {
  position: relative;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("/source/img/index/index-background.jpg");
  background-size: 320px 302px, 320px 302px;
  background-repeat: no-repeat, no-repeat;
  color: $white;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("/source/img/index/index-background2x.jpg");
    background-size: 320px 302px, 320px 302px;
    background-repeat: no-repeat;
  }
}

.banner::before {
  content: "";
  background-color: $basic-green;
  width: 320px;
  height: 302px;
  display: block;
  z-index: -1;
  position: absolute;
  right: 0;
}

.banner__title {
  font-size: 33px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 27px;
}

.banner__slogan {
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.banner__image-wrap {
  display: flex;
  justify-content: center;
}

.banner__button-wrap {
  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .banner {
    color: $black;
    background: none;
    display: flex;
    flex-direction: column;
    padding: 0 117px;
  }

  .banner::before {
    display: none;
  }

  .banner__image {
    position: absolute;
    z-index: -1;
    top: 260px;
    left: 30px;
  }

  .banner__title {
    font-weight: 400;
    font-size: 55px;
    line-height: 60px;
    margin: 0;
    padding-top: 60px;
    margin-bottom: 40px;
    max-width: 600px;
    text-align: left;
  }

  .banner__slogan {
    font-weight: 400;
    font-size: 19px;
    line-height: 20px;
    text-align: left;
  }

  .banner__button-wrap {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .banner::before {
    content: "";
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("/source/img/index/index-background-desktop.png");
    background-size: 720px 694px, 720px 694px;
    background-repeat: no-repeat, no-repeat;
    background-color: $basic-green;
    width: 720px;
    height: 694px;
    display: block;
    z-index: -1;
    position: absolute;
    top: -115px;
    right: 0;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("/source/img/index/index-background-desktop2px.jpg");
      background-size: 720px 694px, 720px 694px;
      background-repeat: no-repeat, no-repeat;
    }
  }


  .banner__title {
    font-size: 56px;
    line-height: 60px;
    padding: 112px 20px 0 72px;
    max-width: 450px;
  }

  .banner__slogan {
    padding-left: 72px;
    margin-bottom: 30px;
  }

  .banner__button-wrap {
    margin-left: 74px;
  }

  .banner__image {
    top: 30px;
    left: 560px;
  }
}
