
.button {
  color: $white;
  background-color: $basic-green;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  background-color: $basic-green2;
}

.button:active {
  color: $basic-green;
  background-color: $basic-green2;
}

.button--banner {
  display: inline-block;
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 18px;
}

.button--order {
  display: inline-block;
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button--form {
  border: none;
  width: 280px;
  height: 40px;
  margin-bottom: 20px;
}

.button--show-all-button {
  display: inline-block;
  color: $special-dark-grey;
  background-color: $basic-grey;
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button--show-all-button:hover {
  background-color: $special-grey2;
}

.button--show-all-button:active {
  color: $special-grey;
  background-color: $special-grey2;
}

@media (min-width: $tablet-width) {
  .button--tablet {
    width: 632px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .button--banner {
    width: 244px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 19px;
    line-height: 20px;
  }

  .button--form {
    height: 52px;
    font-size: 20px;
  }

  .button--show-all-button {
    width: 248px;
  }
}

@media (min-width: $desktop-width) {
  .button--banner {
    width: 216px;
    padding: 17px 14px 17px 14px;
    font-size: 19px;
    line-height: 20px;
  }

  .button--show-all-button {
    width: 170px;
  }

  .button--form {
    width: 570px;
  }

  .button--tablet {
    width: 244px;
  }
}
