

.catalog-link {
  text-decoration: none;
  color: $black;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}

.catalog-link:active {
  color: $special-grey;
}

.catalog-link::before {
  content: "";
  background-image: url("/source/img/index/arrow.svg");
  width: 32px;
  height: 10px;
  display: block;
  position: absolute;
  left: 150px;
}

@media (min-width: $tablet-width) {
  .catalog-link {
    font-size: 20px;
    line-height: 30px;
  }

  .catalog-link::before {
    content: "";
    background-image: url("/source/img/index/arrow.svg");
    width: 32px;
    height: 10px;
    display: block;
    position: absolute;
    left: 450px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-link::before {
    content: "";
    background-image: url("/source/img/index/arrow.svg");
    width: 32px;
    height: 10px;
    display: block;
    position: absolute;
  }
}
