
.comments {
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.comments--margin {
  margin-top: 7px;
  margin-bottom: 23px;
}

.comments__legend {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 38px;
}

.comments__legend::after {
  content: "";
  background-color: $basic-green;
  width: 158px;
  height: 2px;
  display: block;
  position: absolute;
  top: 17px;
  left: 142px;
}

.comments__field {
  color: $special-dark-grey;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  resize: none;
  overflow: hidden;
  width: 250px;
  height: 130px;
  border: 1px solid $basic-grey;
  padding: 9px 15px;
}

@media (min-width: $tablet-width) {
  .comments__legend {
    font-size: 33px;
    line-height: 36px;
    margin-bottom: 75px;
  }

  .comments__legend::before {
    content: "";
    background-color: $basic-green;
    width: 30px;
    height: 2px;
    display: block;
    position: absolute;
    top: 20px;
    left: -70px;
  }

  .comments__legend::after {
    content: "";
    background-color: $basic-green;
    width: 478px;
    height: 2px;
    display: block;
    position: absolute;
    top: 20px;
    left: 220px;
  }

  .comments__field {
    width: 590px;
    height: 153px;
    padding: 10px 20px;
    font-size: 19px;
    line-height: 30px;
  }

  .comments--margin {
    margin-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .comments__legend::before {
    width: 70px;
    left: -120px;
  }

  .comments__legend::after {
    width: 1108px;
    left: 220px;
  }

  .comments__field {
    width: 1220px;
  }
}
