
.contacts {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.contacts__wrapper {
  display: flex;
}


.contacts--margin {
  margin-top: 26px;
  margin-bottom: 26px;
}

.contacts--catalog {
  background-color: $basic-grey;
}

.contacts__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .contacts {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .contacts__title {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    max-width: 172px;
  }

  .contacts__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .contacts__adress-container {
    display: flex;
    flex-direction: column;
    max-width: 160px;
    gap: 10px 0;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 400px;
    background-color: $white;
    position: absolute;
    padding: 56px 80px;
  }
}
