@import "./blocks/variables.scss";

.contacts {
  font-family: "Arial";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 26px;
  margin-bottom: 26px;
  margin-right: 20px;
  margin-left: 20px;
}

.contacts__title {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}
