
.example {
  background-color: $special-grey2;
}

.example--padding {
  padding: 25px 20px;
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.example__title--margin {
  margin: 0;
  margin-bottom: 40px;
}
