

.extra-products {
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.extra-products--margin {
  margin-bottom: 18px;
}

.extra-products__legend {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 37px;
}

.extra-products__legend::after {
  content: "";
  background-color: $basic-green;
  width: 136px;
  height: 2px;
  display: block;
  position: absolute;
  top: 14px;
  left: 163px;
}

.extra-products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.extra-products__item {
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .extra-products__legend {
    font-size: 33px;
    line-height: 36px;
    margin-bottom: 57px;
  }

  .extra-products__legend::before {
    content: "";
    background-color: $basic-green;
    width: 30px;
    height: 2px;
    display: block;
    position: absolute;
    top: 20px;
    left: -70px;
  }

  .extra-products__legend::after {
    content: "";
    background-color: $basic-green;
    width: 446px;
    height: 2px;
    display: block;
    position: absolute;
    top: 20px;
    left: 250px;
  }

  .extra-products__list {
    display: grid;
    grid-template-columns: 220px 220px;
    gap: 43px 125px;
  }

  .extra-products__item {
    margin: 0;
  }

  .extra-products--margin {
    margin-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .extra-products__legend::before {
    width: 70px;
    left: -120px;
  }

  .extra-products__legend::after {
    width: 1078px;
    left: 250px;
  }

  .extra-products__list {
    display: flex;
  }
}
