
.filter-radio {
  border: none;
}

.filter-radio__list {
  list-style-type: none;
}

.filter-radio__list--margin {
  margin: 0;
}

.filter-radio__list--padding {
  padding: 0;
}

.filter-radio__item--margin {
  margin-bottom: 19px;
}
