
.filter-inputs {
  border: none;
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
}

.filter-inputs__input-label {
  color: $special-dark-grey;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}

.filter-inputs__field {
  color: $special-dark-grey;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  outline: none;
  border: 1px solid $basic-grey;
  padding: 15px 13px;
}

.filter-inputs__field--name {
  width: 200px;
}

.filter-inputs__field--weight {
  width: 163px;
}

.filter-inputs__field--age {
  width: 142px;
}


.filter-inputs::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

@media (min-width: $tablet-width) {
  .filter-inputs__field--name {
    width: 567px;
  }

  .filter-inputs__field--weight {
    width: 536px;
  }

  .filter-inputs__field--age {
    width: 497px;
  }
}

@media (min-width: $desktop-width) {
  .filter-inputs__field {
    padding: 10px 20px 11px 20px;
    font-size: 20px;
    line-height: 30px;
  }

  .filter-inputs__input-label {
    font-size: 20px;
    line-height: 30px;
  }

  .filter-inputs__field--name {
    width: 466px;
  }

  .filter-inputs__field--weight {
    width: 435px;
  }

  .filter-inputs__field--age {
    width: 396px;
  }
}
