
.filter-inputs {
  border: none;
}

.filter-inputs__input-label {
  color: $special-dark-grey;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-inputs__field {
  color: $special-dark-grey;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  outline: none;
  border: 1px solid $basic-grey;
}

.filter-inputs__field--padding {
  padding: 15px 13px;
}

.filter-inputs::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}
