
.filter-radio {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-radio__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filter-radio__item {
  margin-bottom: 19px;
}

@media (min-width: $tablet-width) {
  .filter-radio {
    border: 1px solid $basic-grey;
    padding: 25px 28px 30px 28px;
    margin-bottom: 70px;
  }

  .filter-radio__item {
    margin-bottom: 25px;
  }

  .filter-radio__item:nth-child(3n) {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .filter-radio {
    padding-right: 234px;
  }
}
