
.gift {
  color: $white;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("/source/img/catalog/gift-background.jpg");
  background-size: 100% 290px, 100% 290px;
  background-repeat: no-repeat, no-repeat;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: $basic-green;
  padding-top: 59px;
  padding-bottom: 25px;
  padding-right: 60px;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("/source/img/catalog/gift-background2x.jpg");
    background-size: 100% 100%, 100% 100%;
  }
}

.gift--margin {
  margin-bottom: 35px;
}

.gift::before {
  content: "";
  background-image: url("/source/img/catalog/gift-icon.svg");
  background-position: top;
  background-repeat: no-repeat;
  width: 78px;
  height: 80px;
  display: block;
}

.gift__description {
  margin-top: 50px;
  text-align: center;
  max-width: 160px;
}

@media (min-width: $tablet-width) {
  .gift {
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("/source/img/catalog/gift-background-tablet.jpg");
    background-size: 100% 100%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 57px 77px 61px 77px;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("/source/img/catalog/gift-background-tablet2x.jpg");
      background-size: 100% 100%, 100%  100%;
    }
  }

  .gift__description {
    margin: 0;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .gift {
    width: 161px;
    height: 191px;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("/source/img/catalog/gift-background-desktop.jpg");
    background-size: 245px 289px, 245px 289px;
    background-repeat: no-repeat, no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 56px 43px 42px 41px;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("/source/img/catalog/gift-background-desktop2x.jpg");
      background-size: 100% 100%, 100%  100%;
    }
  }

  .gift__description {
    text-align: center;
  }
}
