
.main-header {
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 17px;
  border-bottom: 1px solid $special-grey;
}

.main-header__logo {
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .main-header {
    padding-top: 25px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 0;
    margin: 0;
    width: 708px;
    display: flex;
    justify-content: space-between;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    padding: 65px 110px 0 110px;
    width: 1220px;
    display: flex;
    justify-content: space-between;
  }

  .main-header__logo-image {
    padding-right: 20px;
  }
}
