.options {
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .options {
    padding: 0 30px;
  }

  .options--margin {
    margin-top: 525px;
  }
}

@media (min-width: $desktop-width) {
  .options {
    padding: 0 110px;
    display: flex;
    justify-content: space-between;
  }

  .options--margin {
    margin-top: 265px;
    margin-bottom: 75px;
  }
}
