
.owner-contacts {
  border: none;
  margin: 0;
  padding: 0;
}

.owner-contacts__legend {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin-top: 26px;
  margin-bottom: 35px;
}

.owner-contacts__input-label {
  color: $special-dark-grey2;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.owner-contacts__field {
  color: $special-dark-grey2;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  outline: none;
  border: 1px solid $basic-grey;
  padding: 15px 13px;
}

.owner-contacts__field--email {
  width: 190px;
}

.owner-contacts__field--tel {
  width: 176px;
}
