
.page__body {
  background-color: $white;
  color: $black;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.page__container {
  width: 280px;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .page__container {
    width: 708px;
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .page__container {
    width: 1220px;
    padding: 0 110px;
  }
}
