.program {
  background-color: $basic-grey;
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 20px;
  padding-bottom: 18px;
  position: relative;
}

.program--margin {
  margin-top: 20px;
}

.program--slim::before {
  content: "";
  background-image: url("/source/img/index/slim-cat-icon.png");
  width: 50px;
  height: 53px;
  display: block;
  position: absolute;
}

.program--pro::before {
  content: "";
  background-image: url("/source/img/index/pro-cat-icon.png");
  width: 67px;
  height: 50px;
  display: block;
  position: absolute;
}

.program__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 10px;
}

.program__description {
  color: $special-dark-grey;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 42px;
}

.program__description::after {
  content: "";
  border-bottom: 1px solid $special-grey;
  width: 240px;
  display: block;
  position: absolute;
  top: 210px;
}

@media (min-width: $tablet-width) {
  .program {
    padding-top: 77px;
    padding-right: 62px;
    padding-left: 52px;
    padding-bottom: 53px;
  }

  .program__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }

  .program__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 30px;
    max-width: 320px;
  }

  .program__description::after {
    display: none;
  }

  .program--slim::before {
    display: none;
  }

  .program--pro::before {
    display: none;
  }

  .program--slim::after {
    content: "";
    background-image: url("/source/img/index/slim-cat-icon-tablet.png");
    width: 200px;
    height: 211px;
    display: block;
    position: absolute;
    top: 70px;
    left: 450px;
  }

  .program--pro::after {
    content: "";
    background-image: url("/source/img/index/pro-cat-icon-tablet.png");
    width: 268px;
    height: 200px;
    display: block;
    position: absolute;
    left: 400px;
    top: 100px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    width: 470px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .program__title {
    text-align: center;
  }

  .program__description {
    max-width: 450px;
  }

  .program--slim::after {
    content: "";
    background-image: url("/source/img/index/slim-cat-icon-desktop.png");
    width: 100px;
    height: 106px;
    display: block;
    position: absolute;
    left: 50px;
    top: 30px;
  }

  .program--pro::after {
    content: "";
    background-image: url("/source/img/index/pro-cat-icon-desktop.png");
    width: 134px;
    height: 100px;
    display: block;
    position: absolute;
    left: 30px;
    top: 30px;
  }
}
