.program {
  background-color: $basic-grey;
}

.program--margin {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.program--padding {
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 20px;
  padding-bottom: 18px;
}
