.result--margin {
  margin-bottom: 40px;
}

.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.result__wrapper {
  display: flex;
  flex-direction: column;
}

.result__wrapper--price {
  flex-direction: row;
  margin-top: 20px;
}

.result__kilos-days {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 8px;
}

.result__weight-time-price {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.result__weight-time-price--price {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .result {
    display: grid;
    grid-template-columns: 162px 162px 174px;
  }

  .result__kilos-days {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
  }

  .result__weight-time-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }

  .result__weight-time-price--price {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    max-width: 174px;
  }

  .result__wrapper {
    display: flex;
    flex-direction: column;
  }

  .result__wrapper--price {
    margin-top: 0;
  }
}


@media (min-width: $desktop-width) {
  .result {
    display: flex;
    justify-content: left;
  }
}
