.result--margin {
  margin-bottom: 40px;
}

.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.result__wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid $special-grey;
  position: relative;
}

.result__wrapper--weight-loss {
  padding-top: 14px;
  padding-right: 41px;
  padding-left: 41px;
  padding-bottom: 8px;
  justify-content: center;
  align-items: center;
  margin-right: 13px;
}

.result__wrapper--total-time {
  padding-top: 14px;
  padding-right: 19px;
  padding-left: 19px;
  padding-bottom: 8px;
  justify-content: center;
  align-items: center;
  margin-left: 13px;
}

.result__wrapper--price {
  flex-direction: row;
  margin-top: 30px;
  border: none;
}

.result__kilos-days {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 8px;
}

.result__weight-time-price {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  max-width: 60px;
  position: absolute;
  top: 45px;
  padding: 0 15px;
  background-color: $special-grey2;
  text-align: center;
}

.result__weight-time-price--price {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  max-width: 180px;
  position: static;
}

@media (min-width: $tablet-width) {
  .result {
    display: grid;
    grid-template-columns: 162px 162px 180px;
    justify-content: start;
    gap: 42px;
  }

  .result__kilos-days {
    font-size: 30px;
    line-height: 37px;
  }

  .result__weight-time-price {
    font-size: 14px;
    line-height: 14px;
    background-color: $white;
    top: 60px;
    max-width: 127px;
    padding: 0 10px;
  }

  .result__wrapper--weight-loss {
    padding-top: 14px;
    padding-right: 41px;
    padding-left: 41px;
    padding-bottom: 8px;
    margin: 0;
  }

  .result__wrapper--total-time {
    padding-top: 14px;
    padding-right: 19px;
    padding-left: 19px;
    padding-bottom: 8px;
    margin: 0;
  }

  .result__weight-time-price--price {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    max-width: 180px;
    padding: 0;
  }

  .result__wrapper {
    display: flex;
    flex-direction: column;
  }

  .result__wrapper--price {
    margin-top: 0;
  }
}


@media (min-width: $desktop-width) {
  .result {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    max-width: 370px;
  }

  .result__wrapper--weight-loss {
    padding-top: 13px;
    padding-right: 55px;
    padding-left: 55px;
    padding-bottom: 12px;
  }

  .result__wrapper--total-time {
    padding-top: 13px;
    padding-right: 27px;
    padding-left: 27px;
    padding-bottom: 13px;
  }

  .result__wrapper--price {
    flex-direction: row;
    gap: 60px;
  }
}
