.result--margin {
  margin-bottom: 40px;
}

.result__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey2;
}

.result__description--margin {
  margin: 0;
  margin-bottom: 20px;
}

.result-wrapper__kilos-days {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.result-wrapper__weight-time-price {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.result-wrapper__weight-time-price--price {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
