@import "./blocks/variables.scss";

.show-more-items__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.show-more-items__description {
  font-family: "Arial";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

