.social__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $special-grey;
}

.social__item {
  margin-right: 24px;
}

.social__vk-icon:hover path {
  fill: $basic-green;
}

.social__youtube-icon:hover path {
  fill: $basic-green;
}

.social__telegram-icon:hover path {
  fill: $basic-green;
}

@media (min-width: $tablet-width) {
  .social__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: none;
  }
}
