
.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social__vk-icon:hover path {
  fill: $basic-green;
}

.social__youtube-icon:hover path {
  fill: $basic-green;
}

.social__telegram-icon:hover path {
  fill: $basic-green;
}
